.single-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.single-item img {
  height: 60px;
  width: 60px;
}
